.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 40px auto;
    width: 70%;
}

.product {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-style: italic;
}

.product-price {
    font-weight: bold;
}
