.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 40px auto;
    width: 75%;

    display: flex;
    gap: 10%;
}

.product-list {
    flex-basis: 65%;
}

.cart {
    flex-basis: 25%;
}

.product-list, .cart, .cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-style: italic;
}

.product-price-value {
    font-weight: bold;
}

.product-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-add-button {
    font-size: 14pt;
    color: black;
    background-color: lightgreen;
    padding: 10px 20px;
    border: 1px solid dimgrey;
    border-radius: 10px;
}
